html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #FCFCEC;
    transition: 0.5s;
}

/* Les gros titres  */
.grostitre {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.grostitre1 {
    font-family: 'Notable', sans-serif;
    color: #C15535;
    font-size: 45pt;
    margin: auto;
}

.grostitre2 {
    font-family: 'Alumni Sans', sans-serif;
    color: #355575;
    font-size: 180pt;
    margin: auto;
    text-align: center;
    translate: 0px -10px;
    text-shadow: 3px 4px #C15535;
}

.grostitre4 {
    font-family: 'Alumni Sans', sans-serif;
    color: #355575;
    font-size: 80pt;
    margin: auto;
    text-align: center;
    translate: 0px -80px;
    text-shadow: 2px 3px #C15535;
}

.grostitre3 {
    font-family: 'Notable', sans-serif;
    color: #C15535;
    font-size: 28pt;
    margin: auto;
    translate: 0px -40px;
}

.grostitre5 {
    font-family: 'Notable', sans-serif;
    color: #C15535;
    font-size: 28pt;
    margin: auto;
}

.imgterre {
    display: grid;
    grid-template-columns: 1fr;
}

.terreclair {
    margin: auto;
    translate: 0px -60px;
}

/* Transition de la terre svg  */
#Vector,
#Vector_2,
#Vector_3,
#Vector_4,
#Vector_5,
#Vector_6,
#Vector_7,
#Vector_8,
#Vector_9,
#Vector_10,
#Vector_11,
#Vector_12,
#Vector_13,
#Vector_14,
#Vector_15,
#Vector_16,
#Vector_17,
#Vector_18,
#Vector_19,
#Vector_20,
#Vector_21,
#Vector_22,
#Vector_23,
#Vector_24,
#Vector_25,
#Vector_26,
#Vector_27,
#Vector_28,
#Vector_29,
#Vector_30,
#Vector_31,
#Vector_32,
#Vector_33,
#Vector_34 {
    transition: 0.5s;
}

/* Le contenu  */
.textintro {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 25pt;
    margin: auto;
}

.intro>.textintro>span {
    color: #CDA7D7;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 70px 30px 70px;
}

.soixante {
    margin-left: 90px;
}

/* Les titres  */
.titre {
    font-family: 'Notable', sans-serif;
    color: #CDA7D7;
    font-size: 28pt;
    padding: 120px 40px 80px 80px;
}

.titre2 {
    font-family: 'Notable', sans-serif;
    color: #CDA7D7;
    font-size: 28pt;
    padding: 120px 40px 80px 80px;
}
/* Les facteurs  */
.facteurs>.legrid>.lesfacteurs>p {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 28pt;
    color: white;
    margin: 30px 0px 0px 0px;
}

.legrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 00px 60px 60px 80px;
}

.textfacteur {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 25pt;
    margin: auto;
}

.facteurs>.legrid>.textfacteur>p>span {
    color: #CDA7D7;
}

/* Partie vulnérables  */
.vulnerable {
    display: grid;
    grid-template-columns: 1fr;
}

.textvulnerable {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 25pt;
    padding: 0px 60px 60px 80px;
}

body > div.vulnerable > div:nth-child(9){
    padding: 90px 0px 0px 0px;
    margin: auto;
    font-size: 30pt;
}

.textvulnerable>span {
    color: #CDA7D7;
}

.foule {
    margin: auto;
}

/* Les chiffres  */

.textchiffre {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 25pt;
    padding: 60px 60px 60px 80px;
    margin: auto;
}

.textchiffre>span {
    color: #CDA7D7;
}

.rond1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 80px 0px;
}

.chiffre1 {
    margin-left: 290px;
}

.rond2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chiffre2 {
    margin-left: 290px;
}

/* Le graphique augmentation  */

.augmentation {
    display: grid;
    grid-template-columns: 1fr;
}

.graphique {
    margin: auto;
}

.textaugmentation {
    font-family: 'Alumni Sans', sans-serif;
    color: white;
    font-size: 25pt;
    padding: 60px 60px 60px 80px;
    margin: auto;
    text-align: center;
}

.textaugmentation>p>span {
    color: #CDA7D7;
}

/* Les solutions  */
.textsolution {
    font-family: 'Notable', sans-serif;
    color: #C15535;
    text-shadow: 2px 3px #8FC9FF;
    font-size: 34pt;
    /* padding: 120px 40px 80px 80px; */
    margin: auto;
    translate: 0px 520px;
}

.solution {
    display: grid;
    grid-template-columns: 1fr;
}

/* L'interactivité  */
/* les plus vulnerables  */
.popup1, .popup2, .popup3, .popup4, .popup5 {
    font-family: 'Alumni Sans', sans-serif;
    color: black;
    font-size: 20pt;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #CDA7D7;
    box-shadow: 3px 4px #CDA7D7;
    position: absolute;
}

.popup1 {
    top: 3330px;
    left: 460px;
}

.popup2 {
    top: 3330px;
    left: 620px;
}

.popup3 {
    top: 3330px;
    left: 770px;
}

.popup4 {
    top: 3330px;
    left: 925px;
}

.popup5 {
    top: 3330px;
    left: 980px;
}

.fermer {
    display: none;
}

.ouvert {
    display: initial;
    text-shadow: 0px 0px white;
}

.pareil {
    fill: #4A6583;
    stroke-width: 2px;
    stroke: #1A2434;
}

.fauche, .couleur, .lgbt, .femme, .enfant:hover {
    cursor: pointer;
}

/* Les stats du grahique d'augmentation  */
.popupaugment, .popupaugment0, .popupaugment1, .popupaugment2, .popupaugment2_1, .popupaugment3, .popupaugment4, .popupaugment5, .popupaugment6, .popupaugment7 {
    font-family: 'Alumni Sans', sans-serif;
    color: black;
    font-size: 20pt;
    background-color: white;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 2px solid #CDA7D7;
    box-shadow: 3px 4px #CDA7D7;
    position: absolute;
}

.popupaugment {
    top: 5020px;
    left: 447px;
}

.popupaugment0 {
    top: 5030px;
    left: 645px;
}

.popupaugment2_1 {
    top: 5010px;
    left: 830px;
}

.popupaugment2 {
    top: 5020px;
    left: 1027px;
}


.popupaugment1 {
    top: 4975px;
    left: 447px;
}

.popupaugment3 {
    top: 4975px;
    left: 645px;
}

.popupaugment4 {
    top: 4960px;
    left: 830px;
}

.popupaugment5 {
    top: 4930px;
    left: 1020px;
}

.popupaugment6 {
    top: 4835px;
    left: 1200px;
}

.popupaugment7 {
    top: 4738px;
    left: 1200px;
}

.popupaugment > span, .popupaugment0 > span, .popupaugment1 > span, .popupaugment2 > span, .popupaugment2_1 > span, .popupaugment3 > span, .popupaugment4 > span, .popupaugment5 > span, .popupaugment6 > span, .popupaugment7 > span {
    font-family: 'Almarai', sans-serif;
}

/* .rondgraph9:hover~.popupaugment2{
    display: initial;
} */

[class*=popupaugment] {
    display: none;
}

.show{
    display: initial !important;
}





/* Animation  */

/* Les étoiles  */

.etoiletourne {
    animation: etoile 4s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes etoile {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

/* les arcs en ciel  */

@keyframes arc {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1000;
    }
}

@keyframes arc2 {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.arcenciel {
    animation: arc 10s infinite linear;
    stroke-dasharray: 200 90;
}

.arcenciel2 {
    animation: arc2 13s infinite linear;
    stroke-dasharray: 200 90;
}

/* Trait rond 60%  */
@keyframes traitrond {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes traitrondfermer {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -100;
    }
}

.traitrond {

    stroke-dasharray: 100 100;
}

@keyframes rondrond {
    0% {
        offset-distance: 100%;
    }

    100% {
        offset-distance: 0%;
        
    }
}

@keyframes rondrondfermer {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

.rondrond {
    offset-path: path("M199.452 201.789C187.932 213.022 173.747 221.878 157.43 227.289C99.5415 246.599 36.9796 215.318 17.7109 157.43C-1.55788 99.5825 29.6821 37.0206 87.5703 17.7108C99.1725 13.8571 110.939 12.0122 122.5 12.0122");
    transform-origin: center;
    transform-box: fill-box;
}

/* Les traits des facteurs  */

@keyframes traitfact {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.ligne, .ligne2, .ligne3, .ligne4, .ligne5 {

    stroke-dasharray: 100 100;
}

@keyframes rondfact {
    0% {
        translate: -100% 0px;
    }

    100% {
        translate: 0px 0px;
    }
}

.ligne2 {
    animation-delay: 200ms;
}

.ligne3 {
    animation-delay: 300ms;
}

.ligne4 {
    animation-delay: 400ms;
}

.ligne5 {
    animation-delay: 500ms;
}

/* Les chiffres  */
@keyframes traitchiffre {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.traitchiffre {
    stroke-dasharray: 100 100;
    animation-fill-mode: forwards;
}

@keyframes rondchiffre {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
        
    }
}

.rondchiffre {
    offset-path: path("M122.5 12.0122C110.939 12.0122 99.1725 13.8571 87.5703 17.7108C29.6821 37.0206 -1.55788 99.5825 17.7109 157.43C36.9796 215.318 99.5415 246.599 157.43 227.289C173.747 221.878 187.932 213.022 199.452 201.789C203.801 197.193 214.1 185.2 220.5 174");
    transform-origin: center;
    transform-box: fill-box;
    
    animation-fill-mode: forwards !important;
}

@keyframes cercle {
    0% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.cercle {
    animation: cercle 2s infinite linear;
    stroke-dasharray: 10 2;
    
}

@media screen and (max-width: 900px)
{    
    .grostitre1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .grostitre2 {
        font-size: 160px;
    }

    .grostitre4 {
        font-size: 70px;
        translate: 0px -60px;
        margin-bottom: 50px;
    }

    .grostitre3 {
        font-size: 27px;
        text-align: center;
    }

    .grostitre5 {
        font-size: 27px;
        text-align: center;
        margin: 80px 0px 30px 0px;
    }

    .terreclair {
        width: 600px;
        height: 500px;
        translate: -102px 25px;
    }

    /* Intro  */
    .intro {
        grid-template-columns: 1fr;
        padding: 20px 20px 20px 20px;
    }

    .soixante {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .textintro {
        font-size: 20px;
        margin-top: 40px;
    }

    .titre {
        font-size: 20px;
        padding: 20px 0px 20px 0px;
        margin-top: 50px;
        text-align: center;
        border: solid 6px white;
        border-bottom: hidden 6px white;
        border-right: hidden 6px white;
        border-radius: 20px;
    }

    /* Les traits des facteurs  */
    .legrid {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .facteurs .legrid .lesfacteurs > p {
        font-size: 25px;
    }

    .textfacteur {
        font-size: 20px;
        margin-top: 40px;
    }

    .facteurs .legrid .lesfacteurs > svg {
        width: 200px;
    }

    /* Partie vulnerable  */
    .textvulnerable {
        font-size: 19px;
        padding: 50px 20px 20px 20px;
    }

    .foule {
        width: 350px;
    }

    body > div.vulnerable > div:nth-child(9) {
        font-size: 23px;
        padding: 20px 20px 20px 20px;
    }

    /* Les chiffres  */
    .chiffre1 {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .rond1 {
        grid-template-columns: 1fr;
        padding: 50px 20px 20px 20px;
        margin: 0px;
    }

    .textchiffre {
        font-size: 20px;
        width: auto;
        padding: 50px 0px 0px 0px;
    }

    .rond2 {
        grid-template-columns: 1fr;
        padding: 20px 20px 20px 20px;
    }

    .chiffre2 {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    /* La partie graphique  */

    .graphique {
        width: 350px;
        height: auto;
        margin: 50px 20px 20px 20px;
    }

    .textaugmentation {
        font-size: 20px;
        padding: 20px;
    }

    /* Partie des solutions  */
    .titre2 {
        font-size: 20px;
        padding: 20px 0px 20px 0px;
        margin-top: 50px;
        text-align: center;
        border: solid 6px white;
        border-bottom: hidden 6px white;
        border-right: hidden 6px white;
        border-radius: 20px;
    }

    .textsolution {
        font-size: 17px;
        translate: 0px 120px;
    }
}